#eclipse
.project
.classpath
.metadata
org.*
bin

#idea
.idea
*.iml
*.ipr
*.iws
out

#gradle
build

#runtime
eclipse
run
classes

#mac
.DS_Store
*.command

#windows
Thumbs.db

#workspace
saves
asm
logs
screenshots
mods
lib
libs
#config  I assume you want to keep your minecraft config and world out
#world   this is taken care of with the run folder up at runtime you are actually removing the packages

*.txt
/server.properties
*.dat
*.psd
src/main/resources/assets/wrenched/textures/blocks/locker.png
src/main/resources/assets/wrenched/textures/items/easy_machines.png
src/main/resources/assets/wrenched/textures/items/easy_misc.png
src/main/resources/assets/wrenched/textures/items/easy_redstone.png
src/main/resources/assets/wrenched/textures/items/easy_transport.png
src/main/resources/assets/wrenched/textures/items/hard_machines.png
src/main/resources/assets/wrenched/textures/items/hard_misc.png
src/main/resources/assets/wrenched/textures/items/hard_redstone.png
src/main/resources/assets/wrenched/textures/items/hard_transport.png
src/main/resources/assets/wrenched/textures/items/medium_machines.png
src/main/resources/assets/wrenched/textures/items/medium_misc.png
src/main/resources/assets/wrenched/textures/items/medium_redstone.png
src/main/resources/assets/wrenched/textures/items/medium_transport.png
src/main/resources/assets/wrenched/textures/items/platformConnector.png
